<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
</head>
<body>
  <!-- Toggle btn -->
  <div class="toggleBtn" onclick="toggleBtn()">
    <i class="fas fa-bars"></i>
  </div>
 <header id="myHeader">

      <div class="sidePostion">
        <div class="headerPreventflex">
          <div class="headerFlex">

        <div class="upperHeader">
        <div class="logo">
          <a href="#">Logo</a>
        </div>
        <div class="prventForm">
        <form class="searchHeader my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btnSearch" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
        <hr class="hrHeader">
        <!-- Menu -->
        <div class="headerSpace">
        <div class="menu">
        <ul>
          <li class="liSmooth col-md-12"><a data-value="sideDoc" href="#"><span>Home</span></a></li>
          <li class="liSmooth col-md-12"><a data-value="governorates" href="#"><span>Governorates</span></a></li>
          <li class="liSmooth col-md-12"><a data-value="archaeology" href="#"><span>All Archaeology</span></a></li>
          <li class="liSmooth col-md-12"><a data-value="about" href="#"><span>About</span></a></li>
        </ul>
      </div>

        

        <!-- brightness bar -->
        <div class="copybright">
          <hr class="hrHeader">
          <div class="col-md-12">
        <div class="brightness-box">
          <i class="far fa-sun"></i>
          <input type="range" min="10" max="100" value="100" id="range">
          <i class="fas fa-sun"></i>
        </div>
        <!-- copyright -->
        <div class="copyRight">
          <p>© 2020 All Rights Reserved</p>
        </div>
      </div>
    </div>
    </div>

  </div>
   </div>
  </div>

 </header>
<section class="sideDoc" id="sideDoc">
<div class="preventSide">
  <!-- slideDoc -->
      <div class="slideDoc">
        <!-- slider -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">

            <div class="sliderPostion">
              <div class="col-md-12">
              <h1>ARCHAEOLOGY</h1>
              <p>best <span> ARCHAEOLOGY </span>site in Iraq test test test test.</p>
            </div>
            </div>  

            <div class="carousel-item active">
              <img class="d-block w-100" src="styles/img/paralla2x.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="styles/img/paralla2x.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="styles/img/paralla2x.jpg" alt="Third slide">
            </div>
          </div>
        </div>
        <!-- wave button -->
        <button class="wave">
          <i class="fas fa-arrow-down"></i>
        </button>

    </div>
<!-- governorates -->
<div class="governorates" id="governorates">
<div class="container">
<div class="row">
  <div class="col-md-12">
      <div class="govTitle">
      <h1>governorates</h1>
      <hr class="gov-longLine">
      <hr class="gov-miniLine">
      </div>
    </div>
  </div>
<div class="row">

      <div class="col-md-4">
          <div class="govGrid">
            <a>
            <img src="styles/img/grid.jpg" alt="grid">
            <div class="absGridTitle">
            <h2>Nineveh</h2>
            </div>
            </a>
          </div>
      </div>
      <div class="col-md-4">
          <div class="govGrid">
            <a>
            <img src="styles/img/grid.jpg" alt="grid">
            <div class="absGridTitle">
            <h2>Baghdad</h2>
            </div>
            </a>
          </div>
      </div>
      <div class="col-md-4">
        <div class="govGrid">
          <a>
          <img src="styles/img/grid.jpg" alt="grid">
          <div class="absGridTitle">
          <h2>Basra</h2>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="govGrid">
            <a>
            <img src="styles/img/grid.jpg" alt="grid">
            <div class="absGridTitle">
            <h2>Kirkuk</h2>
            </div>
            </a>
        </div>
      </div>
    <div class="col-md-4">
          <div class="govGrid">
              <a>
              <img src="styles/img/grid.jpg" alt="grid">
              <div class="absGridTitle">
              <h2>Diyala</h2>
              </div>
              </a>
          </div>
    </div>
    <div class="col-md-4">
          <div class="govGrid">
              <a>
              <img src="styles/img/grid.jpg" alt="grid">
              <div class="absGridTitle">
              <h2>Najaf</h2>
              </div>
              </a>
          </div>
    </div>

</div>
<!-- More -->
<div class="row">
  <div class="col-md-12">
    <div class="more">
      <a href="governorates.html">See All Governorates<i class="fas fa-arrow-right"></i></a> 
    </div>
  </div>
</div>
</div>
</div>

<!-- ALL ARCHAEOLOGY -->
<div class="governorates" id="archaeology">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="govTitle">
        <h1>ARCHAEOLOGY</h1>
        <hr class="gov-longLine">
        <hr class="gov-miniLine">
        </div>
      </div>
    </div>
  <div class="row">
  
        <div class="col-md-4">
            <div class="govGrid">
              <a href="page.html">
              <img src="styles/img/grid.jpg" alt="grid">
              <div class="absGridTitle">
              <h2>Hammurabi</h2>
              </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="govGrid">
              <a href="page.html">
              <img src="styles/img/grid.jpg" alt="grid">
              <div class="absGridTitle">
              <h2>Hammurabi</h2>
              </div>
              </a>
            </div>
        </div>
        <div class="col-md-4">
          <div class="govGrid">
            <a href="page.html">
            <img src="styles/img/grid.jpg" alt="grid">
            <div class="absGridTitle">
            <h2>Hammurabi</h2>
            </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="govGrid">
              <a href="page.html">
              <img src="styles/img/grid.jpg" alt="grid">
              <div class="absGridTitle">
              <h2>Hammurabi</h2>
              </div>
              </a>
          </div>
        </div>
      <div class="col-md-4">
            <div class="govGrid">
                <a href="page.html">
                <img src="styles/img/grid.jpg" alt="grid">
                <div class="absGridTitle">
                <h2>Hammurabi</h2>
                </div>
                </a>
            </div>
      </div>
      <div class="col-md-4">
            <div class="govGrid">
                <a href="page.html">
                <img src="styles/img/grid.jpg" alt="grid">
                <div class="absGridTitle">
                <h2>Hammurabi</h2>
                </div>
                </a>
            </div>
      </div>
  
  </div>
  <!-- More -->
  <div class="row">
    <div class="col-md-12">
      <div class="more">
        <a href="archaeology.html">See All Archaeology<i class="fas fa-arrow-right"></i></a> 
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- About -->
  <div class="governorates" id="about">
    <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="govTitle">
          <h1>About</h1>
          <hr class="gov-longLine">
          <hr class="gov-miniLine">
          </div>
        </div>
      </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/Mustafa.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Mustafa Abdallah</h4>
                      <span>UI UX Designers / Website Designers</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/Fahad.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Fahad Mahfoth</h4>
                      <span>Web developer</span>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/user.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Lubna Ahmed</h4>
                      <span>Information gathering</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/user.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Farah Ali</h4>
                      <span>Information gathering</span>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/user.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Ahmed Rajab</h4>
                      <span>Information gathering</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/Taha.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Taha Ammar</h4>
                      <span>Manager of Project</span>
              </div>
          </div>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/Essa.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Muhammed Essa</h4>
                      <span>Manager of Code for Iraq</span>
              </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="aboutCard">
            <img src="styles/img/code.jpg" alt="grid">
            <div class="aboutCardTect">
              <div class="aboutCT">
                      <h4>Code for Iraq</h4>
              </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    </div>  

  </div>
  </section>


     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- My javascript -->
    <script src="js/jsscript.js"></script>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/script.js"></script>
   
</body>
</html>